<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:insert="snippets/header.html :: headerCSS"></linkth:insert>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <title>Title</title>
</head>
<body>
<!--<link th:insert="snippets/header.html :: header"></linkth:insert>-->
<div>
<header class="head">
    <h1>Pizza&nbsp;<i class="fas fa-pizza-slice"></i>&nbsp;Zone</h1>
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/home#about">About</a>
        <a href="/home#menu">Menu</a>
        <a href="/home#contact">Contact</a>

    </nav>
    <div class="side-bar">

        <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg> </a>

    </div>
</header>
</div>
<section class="menu" id="menu">

    <div class="menu-content" style="margin:auto; margin-top:10rem;">
        <div class="in-box" style="width: 120rem;  margin:auto;">


            <img src="https://th.bing.com/th/id/OIP.ildCrKedl5wZSDvDouexMQHaEo?pid=ImgDet&rs=1" alt="">
            <div class="in-content">
                <div class="star">

                    <h2>Adding New Pizza</h2>
                    <div class="price"><h2 >Dashboard to add details about new pizza</h2></div>
                    <form   action="/admin/pizza" method="get" >
                        <button class="btn">
                            ADD PIZZA
                            <i class="fas fa-plus-circle"></i></button>
                    </form>
                    <!--                    <a class="btn" href="/addToCart/1">Add to Cart</a>-->


                </div>
            </div>
        </div>
    </div>
</section>
<div class="copyright">
    <p>Design By&copy; PGS Intern Batch Group-2</p>
    <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-google-plus"></i>
    </div>
</div>

</body>

</html>